<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Todo list</title>
  </head>
  <body>
    <!-- LOGO BOOLEAN -->
    <div class="logo">
      <img src="img/logo-boolean.png" alt="Boolean logo">
    </div>
    <!-- Sezione Input -->
    <div id="root" class="container">
      <div class="form">
        <input @keyup.enter="insertList" v-model="message" type="text" placeholder="Nuovo Todo">
        <button @click = "insertList" type="button" name="button">Aggiungi</button>
      </div>
      <!-- Sezione Todo list -->
      <div class="list-item">
        <ul>
          <li v-for="(item, i) in list">{{ list[i] }}
            <a href="#"><i @click = "deleteList" :class="canc"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
