/* Regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

/* Regole logo boolean */
.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 350px;
  margin-top: 30px;
}

/* Regole Sezione input */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.form > input, button  {
  margin-top: 30px;
  font-size: 15px;
}

.form input {
  width: 250px;
  height: 36px;
  text-indent: 10px;
  border-radius: 8px;
  border: none;
  margin-right: 20px;
  box-shadow: 1px 1px 17px 3px rgba(0,0,0,0.75);
}

.form button {
  width: 100px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #00e165;
  box-shadow: 1px 1px 17px 3px rgba(0,0,0,0.75);
  transition: all 0.2s ease-in-out;
}

.form button:hover {
  transform: scale(1.1);
}

/* Regole Todo list */
.list-item {
  width: 60%;
  min-height: 100px;
  margin-top: 50px;
  padding: 10px;
  background-color: #f5f7f7;
  border-radius: 8px;
}

.list-item li {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadee1;
  list-style: none;
}

.list-item li > a > i {
  color: #000;
  font-size: 20px;
}
